* {
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    -webkit-font-smoothing: antialiased;
}

input, textarea {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    margin-bottom: 10px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

li {
    margin-top: 10px;
}

.primary-button {
    width: 100%;
}

ul {
    list-style: none;
}

.flex-center {
    display: flex;
    align-items: center;
}

.graph {
    display: inline-block;
}

.menu {
    left: 10px;
    width: 200px;
    position: fixed;
    z-index: 1;
}

.btn-link {
    white-space: normal;
    display: inline;
}

canvas {
    -moz-box-shadow: 0 0 5px gray;
    -webkit-box-shadow: 0 0 5px gray;
    box-shadow: 0 0 5px gray;
}

canvas:hover {
    -moz-box-shadow: 0 0 10px gray;
    -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
}

.hide-button-container {
    position: relative;
}
