<div class="panel">
    <div>
        <button class="btn btn-default btn-sm" @click="clearLogsPush()" :disabled="logsPush.length === 0">clear</button>
        <label>
            <input type="checkbox" v-model="showRawLogPush"> show raw data
        </label>
        <label>
            <input type="checkbox" v-model="showFormattedLogPush"> show formatted data
        </label>
    </div>
    <ul>
        <li class="hide-button-container li-result-item" v-for="(log, index) in logsPush">
            <span class="label label-primary"><relative-time :time="log.timeValue"></relative-time></span>
            <span class="label label-default">{{log.hostname}}</span>
            <span class="label label-default">{{log.filepath}}</span>
            <pre v-if="log.content && showRawLogPush">{{log.content}}</pre>
            <pre :id="logPushId(index)" v-if="log.formattedContent && showFormattedLogPush && log.visible">{{log.formattedContent}}</pre>
            <button class="btn btn-default btn-sm" :style="visibilityButtonStyle(log)" @click="toggleVisibility(log)" v-if="log.formattedContent && showFormattedLogPush">{{ log.visible ? "hide formatted" : "show formatted" }}</button>
        </li>
    </ul>
</div>