<div class="panel">
    <ul class="menu">
        <li v-for="(config, index) in chartConfigs">
            <a href="javascript:void(0)" @click="scrollBy(config.name)">{{config.description}}</a>
        </li>
    </ul>
    <div v-for="(config, index) in chartConfigs">
        <h4 style="padding-top: 10px;">
            {{config.description}}
            {{config.unit !== undefined ? ("(" + config.unit + ")") : ""}}
            {{config.sum !== undefined ? (" " + config.sum) : ""}}
        </h4>
        <canvas :id="'current-' + config.name" class="graph" :width="chartWidth" height="300"></canvas>
    </div>
</div>