<div class="panel">
    <div class="flex-center">
        <input class="form-control" style="width: 30%;" v-model="searchFrom">
        <input class="form-control" style="width: 30%;" v-model="searchTo">
        <button class="btn btn-primary btn-lg primary-button" @click="searchSamples()" :disabled="!searchFrom || !searchTo">search</button>
    </div>
    <ul class="menu list-unstyled">
        <li v-for="(config, index) in chartConfigs">
            <a :href="'#' + config.name">{{config.description}}</a>
        </li>
    </ul>
    <div v-for="(config, index) in chartConfigs">
        <h4 :id="config.name" style="padding-top: 10px;">
            {{config.description}}
            {{config.unit !== undefined ? ("(" + config.unit + ")") : ""}}
        </h4>
        <canvas :id="'history-' + config.name" class="graph" :width="chartWidth" height="300"></canvas>
    </div>
</div>