<div class="panel">
    <div class="flex-center">
        <textarea class="form-control" style="width: 85%" v-model="q" @keyup.enter="search(true)" rows="5"></textarea>
        <button class="btn btn-primary btn-lg primary-button" @click="search(true)" :disabled="!q">search</button>
    </div>
    <div>
        <button class="btn btn-default btn-sm" @click="clearLogsSearchResult()" :disabled="logsSearchResult.length === 0">clear</button>
        <label>
            <input type="checkbox" v-model="showRawLogResult"> show raw data
        </label>
        <label>
            <input type="checkbox" v-model="showFormattedLogResult"> show formatted data
        </label>
    </div>
    <ul>
        <li class="li-result-item" v-if="logsSearchResult.length === 0">
            <pre class="pre">not started or nothing found.</pre>
        </li>
        <li class="hide-button-container li-result-item" v-for="(log, index) in logsSearchResult">
            <span class="label label-primary"><relative-time :time="log.timeValue"></relative-time></span>
            <span class="label label-default">{{log.hostname}}</span>
            <span class="label label-default">{{log.filepath}}</span>
            <pre class="pre" v-if="log.content && showRawLogResult">{{log.content}}</pre>
            <pre class="pre" :id="logSearchResultId(index)" v-if="log.formattedContent && showFormattedLogResult && log.visible">{{log.formattedContent}}</pre>
            <button class="btn btn-default btn-sm" :style="visibilityButtonStyle(log)" @click="toggleVisibility(log)" v-if="log.formattedContent && showFormattedLogResult">{{ log.visible ? "hide formatted" : "show formatted" }}</button>
        </li>
    </ul>
    <div v-if="logsSearchResult.length > 0 && leftCount > 0">
        <button class="btn btn-primary" @click="search(false)">
            continue
            <span class="badge">{{leftCount}}</span>
        </button>
    </div>
</div>